<h1 class="md-display-2">Kleuren</h1>
<div id="switchboard">
    <div class="colortile" style="cursor: pointer;" ng-click="pickCategorie($event, 'keramiek')">
        <div class="image" style="background: url('http://www.menkenwerkbladen.nl/img/layout/colortiles/Icoon%20HPL%20Uni.jpg');">
            &nbsp;
        </div>
        <div class="colordescription">
            <p class="description uppercase">HPL FANTASIE</p>
        </div>
    </div>
    <div class="colortile" style="cursor: pointer;">
        <div class="image" style="background: url('http://www.menkenwerkbladen.nl/img/layout/colortiles/Icoon%20HPL%20Uni.jpg');">
            &nbsp;
        </div>
        <div class="colordescription">
            <p class="description">GRANIET</p>
        </div>
    </div>
    <div class="colortile" style="cursor: pointer;">
        <div class="image" style="background: url('http://www.menkenwerkbladen.nl/img/layout/colortiles/Icoon%20HPL%20Uni.jpg');">
            &nbsp;
        </div>
        <div class="colordescription">
            <p class="description">COMPOSIET</p>
        </div>
    </div>
    <div class="colortile" style="cursor: pointer;">
        <div class="image" style="background: url('http://www.menkenwerkbladen.nl/img/layout/colortiles/Icoon%20HPL%20Uni.jpg');">
            &nbsp;
        </div>
        <div class="colordescription">
            <p class="description">KERAMIEK</p>
        </div>
    </div>
</div>
<h3>{{ test }}</h3>
<md-button class="md-primary md-raised" ng-click="pickCategorie($event, 'keramiek')" flex-sm="100" flex-md="100" flex-gt-md="auto">
    Tab Dialog
</md-button>
<p>
    Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Nulla venenatis ante augue.
    Phasellus volutpat neque ac dui mattis vulputate.
    Etiam consequat aliquam cursus. In sodales pretium ultrices.
    Maecenas lectus est,
    sollicitudin consectetur felis nec, feugiat ultricies mi.
</p>